@using PutDoc.Services
@using PutDoc
@using System
@using System.Linq
@using System.Collections.Generic
@using Microsoft.JSInterop
@using Microsoft.AspNetCore.Components.Routing
@using PutDoc.Shared
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(Shared.MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(Shared.MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

<HeadOutlet />   @* enables <HeadContent> in layouts/pages *@